* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Inter, sans-serif;
}

.navbar {
    display: flex;
    align-items: center;
    height: 91px;
    font-family: Inter, sans-serif;
    background-color: #21222A;
    padding: 30px 25px;
}

.nav-title, .logo-text {
    margin: 0;
}

.nav-title {
    color: #DEEBF8
}

.logo-text {
    color: #61DAFB;
    font-size: 22px;
    margin-right: auto;
}

.react-logo {
    width: 60px;
    margin-right: 7px;
}

